#contactUsForm {
    box-sizing: border-box;
    width: 400px;
    min-height: 500px;
    padding: 20px;
    margin: 15px auto 0px auto;
    background-color: blue;
}
#contactUsForm label {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#contactUsForm label span {
    display: inline-block;
    width: 90px;
    height: 25px;
}
#contactUsForm input {
    width: 200px;
    height: 25px;
}
#contactUsForm textarea {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    width: 300px;
    height: 100px;
}

#contactUsForm input, #contactUsForm textarea {
    border: thin solid gray;
    border-radius: 5px;
    outline: none;
}
#contactUsForm input:focus, #contactUsForm textarea:focus {
    border: thin solid orange;
}

#contactUsForm input[type="submit"] {
    display: block;
    font-size: 15px;
    margin-top: 10px;
    width: 75px;
    height: 32px;
    background-color: white;
    border: thin solid gray;
    border-radius: 5px;
}