.footer {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    min-height: 140px;
    padding: 10px;
    margin-top: 40px;
    background-color: gray;
}
.footer a {
    margin: 10px 5px 20px 5px;
    float: right;
}
#copyright {
    position: absolute;
    top: 20px;
    left: 20px;
}
.footer .fab {
    color: black;
}

@media (width: 280px) {

    #copyright {
        top: 90px;
        left: 120px;
    }

}