.navbar {
    width: 100%;
    height: 45px;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
    border: thin solid gray;
    
}

.navbar a {
    text-decoration: none;
    margin: 8px 15px 0px 15px;
    color: black;
}
.navbar #logo {
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: 'Bangers', cursive;
    font-size: 35px;
    padding: 10px;
    margin-left: 10px;
    
}

#emoji {
    width: 42px;
    position: absolute;
    top: 10px;
    left: 200px;
    
}

@media screen and (min-width: 280px) and (max-width: 780px) {

    .navbar .navlink {
        display: none;
    }
    
}

@media screen and (min-width: 280px) and (max-width: 300px) {
    #emoji {
        width: 28px;
        position: absolute;
        top: 15px;
        left: 176px;
    }
    .navbar #logo {
        font-size: 30px;
    }
    
}