.navbar {
    width: 100%;
    height: 45px;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
    border: thin solid gray;
    
}

.navbar a {
    text-decoration: none;
    margin: 8px 15px 0px 15px;
    color: black;
    /* border: thin solid black; */
}
.navbar #logo {
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: 'Bangers', cursive;
    font-size: 35px;
    padding: 10px;
    margin-left: 10px;
    /* background-color: blue; */
}

#emoji {
    width: 42px;
    position: absolute;
    top: 10px;
    left: 200px;
    
}

@media screen and (min-width: 280px) and (max-width: 500px) {
    #emoji {
        display: none;
    }
    .navbar .navlink {
        display: none;
    }
    
}