#jokeForm strong, #jokeForm textarea, #jokeForm input[type="submit"] {
    margin: 15px;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
#jokeForm { /* form element */
    /* box-sizing: border-box; */
    width: 450px;
    min-height: 500px;
    padding: 20px;
    margin: 15px auto 10px auto;
    /* background-color: blue;  */
    border: thin solid lightgray;
}
#jokeForm strong {
    font-size: 20px;
}
#jokeForm textarea {
    box-sizing: border-box;
    display: block;
    width: 400px;
    height: 95px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}
#jokeForm textarea:focus {
    background-color: #f1f3f2;
}
#jokeForm input[type="submit"] {
    font-size: 15px;
    margin-top: 0px;
    width: 75px;
    height: 32px;
    background-color: white;
    border: thin solid gray;
    border-radius: 5px;
}


@media (min-width: 280px) and (max-width: 500px) {
    #jokeForm {
        width: 90%;
    }
    #jokeForm textarea {
        width: 90%;
    }

}
