.aboutContainer {
    box-sizing: border-box;
    width: 650px;
    min-height: 500px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border: thin solid lightgray;
}

.pageTitle {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}
.aboutContent { /* contains picture and paragraph */
    position: relative;
    min-height: 400px;
    padding: 20px;
    text-align: center;
}
.aboutContent p {
    width: 530px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}
#aboutPicture {
    width: 250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 15px;
}
#aboutTop { /* part containing the title */
    padding-top: 25px;
    padding-bottom: 25px;
    vertical-align: middle;
    background-color: lightgray;

}

@media screen and (min-width: 280px) and (max-width: 550px) {
    .aboutContainer {
        width: 90%;
        
    }
    
    .aboutContent p {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #aboutPicture {
        width: 100%;
    }
    
}